@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

.dark {
  --body-color:#202C36;
  --primary-color: #2B3844;
  --text-color: #fff;
  --bg-img-dark: url('../imgs/sun-regular-24.png');
  --placeholder-color: #fff;
  --backgraung-color:#2B3844;
  --link-color:#fff;
  --self-text-color:#fff;
}
:root {
  --body-color: #f2f2f2;
  --primary-color: #fff;
  --text-color: #161F38;
  --bg-img-dark: url('../imgs/moon-regular-24.png');
  --box-bg-color: #ff0;
  --placeholder-color: #848484;
  --backgraung-color:#fff;
  --link-color:#0f1011;
  --self-text-color:#575861;
  
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color:var(--body-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.header{
  position: fixed;
  top: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  background-color: var(--body-color);
}
.logo{
  margin-right: 200px;
}
.header-items{
  list-style: none;
  display: flex;
  position: relative;
}
.header-item{
  margin-right: 40px;
}
.header-item-link{
  color: var(--link-color);
  text-decoration: none;
  font-size: 16px;
}
.header-item-link:hover ~ .header-span{
  background-color: #111517;
}
.header-link-in{
  font-size: 16px;
  color: var(--link-color);
  text-decoration: none;
  margin-right: 40px;
}
.header-link-up{
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 7px 17px;
  background-color: #0057FF;
  border-radius: 5px;
  margin-right: 40px;
}
.header-search{
  color: var(--link-color);
  margin-right: 40px;
}
.header-moon{
  color: var(--link-color);
}

.header-span{
  position: relative;
  top: 10px;
  right: 80%;
  display: inline-block;
  margin: 0;
  width:15px;
  height: 2px;
  background-color: transparent;
}

.header-items-son{
  position: absolute;
  top: 30px;
  list-style: none;
  width: 150px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease;
  z-index: -1;
  /* opacity: 0; */
  display: none;
  padding: 20px 10px;
  border-radius: 8px;
}
.header-item:hover .header-items-son{
  display: block;
  z-index: 10;

  animation-name: ch;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: both;
  transition: all 0.2s ease;
}
@keyframes ch{
  0%{
    top: 50px;
  }
  100%{
    top: 30px;
  }
}


.item-son-link{
  text-decoration: none;
  color: var(--link-color);
}
.items-son-item{
  margin-bottom: 10px;
}

/* END OF HEADER */

.hero{
  margin-top: 200px;
  margin-bottom: 150px;
}
.hero-content{
  font-size: 60px;
  margin-bottom: 30px;
  color: var(--text-color);
}
.hero-text{
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--text-color);
}
.hero-input{
  width: 300px;
  height: 50px;
  padding: 20px;
  color: var(--text-color);
  margin-right: 20px;
  border-radius: 6px;
  border: none;
}
.hero-input:active{
  border: 1px solid blue;
}
.hero-email{
  margin-bottom: 30px;
  transition: all 0.5 ease;
}

.hero-button{
  font-size: 16px;
  padding: 5px 10px;
  background-color: #0057FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.hero-button:hover{
  background-color: #203561;
}
.follow{
  margin-right: 10px;
}
.icon-items{
  list-style: none;
}

.img{
  position: absolute;
  right: 250px;
  top: 200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -20;
}
.animation{
  position: absolute;
  right:200px;
  top: 160px;
  border: 2px solid #000;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.animation::before{

}




/* PART SEARCH */




.search-part-div{
  width: 600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}
.search-input{
  width: 600px;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.search-text{
  position: absolute;
  font-size: 12px;
  right: 0px;
}
.search-div2{
  width: 580px;
  margin: 0 auto;
}
.search-content{
  /* text-align: center; */
  font-size: 25px;
  margin-bottom: 20px;
}
.search-items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.search-item{
  margin-right: 32px;
  margin-bottom: 30px;
  padding: 7px 15px;
  background-color:cadetblue;
  align-items: center;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}




/* 
.light-dark{
  background-image: url('../img/bx-moon.svg');
  width: 20px;
  height: 20px;
  background-size: contain;
}

.light-dark.active{
  background-image: url('../img/bx-sun.svg');
} */




.self-item{
  width: 90%;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 50px;
}
.self-divv{
  display: flex;
}
.self-name{
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: var(--self-text-color);
}
.self-name::after{
  content: '';
  display: inline-block;
  width: 165px;
  height: 5px;
  background-color: blue;
  border-radius: 10px;
}
.self-div-right{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.self-div-right-text{
  margin-right: 10px;
  padding: 5px 15px;
  background-color: #1A68FF;
  border-radius: 20px;
  font-size: 14px;
  color:#fff;
  cursor: pointer;
}
.self-div-content{
  font-size: 35px;
  margin-bottom: 22px;
  color:var(--text-color);

}
.self-content-link{
  text-decoration: none;
  transition: all 0.5s ease;
}
.self-content-link:hover{
  text-decoration: underline;
}
.self-div-text{
  font-size: 16px;
  color:var(--text-color);
  margin-bottom: 24px;
}
.self-d-text{
  font-size: 16px;
  margin-right: 20px;
  color: var(--self-text-color);
}
.self-d-text:nth-child(1)::after{
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color:var(--self-text-color);
  margin-left: 10px;
}
.self-d-text:nth-child(2)::after{
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color:var(--self-text-color);
  margin-left: 10px;
}

.self-items {
  width: 100%;
}

.self-img{
  margin-right: 30px;
  border-radius: 10px;
}




